<div class="dashboard-actions">
    <button mat-raised-button color="primary">export</button>
    <button mat-raised-button color="primary" (click)='onCreateForm()'>create</button>
</div>
<div class="dashboard-main-task">
    <h2>{{current?.description}} on {{current?.status}} status</h2>
    <div style="display: flex; width: 350px; justify-content: space-between;">
        <h1>{{current?.time * 1000 | date:'H:mm:ss':'UTC'}}</h1>
        <div *ngIf="current?.status === 'pending'"
            style="background-color: blue; width: 60px; height: 60px; cursor: pointer;" (click)="startCurrent()">
            <i style="font-size: 2rem; margin: 15px; color: white;" class="fa fa-play"></i>
        </div>
        <div *ngIf="current?.status === 'progress'"
            style="background-color: skyblue; width: 60px; height: 60px; cursor: pointer;" (click)="continueCurrent()">
            <i style="font-size: 2rem; margin: 15px; color: white;" class="fa fa-pause"></i>
        </div>
        <div *ngIf="current?.status === 'progress' || current?.status === 'pending'"
            style="background-color: red; width: 60px; height: 60px;  cursor: pointer;" (click)="finishCurrent()">
            <i style="font-size: 2rem;  margin: 15px; color: white;" class="fa fa-stop"></i>
        </div>
    </div>
</div>

<table style="" class="dashboard-task-table">
    <tr>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time/Paused</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let task of tasks"
        [ngStyle]="{'background-color': task.status == 'progress' ? 'lightgreen': 'transparent'}">
        <td>{{task.description}}</td>
        <td></td>
        <td></td>
        <td>{{task.status}}</td>
        <td>
            {{task?.time * 1000 | date:'H:mm:ss':'UTC'}}</td>
        <td>
            <div style="display: flex; margin: 0.5rem 0;">
                <div *ngIf="task?.status === 'pending'"
                    style="background-color: blue; width: 30px; height: 30px; cursor: pointer;   margin-left: 1rem;"
                    (click)="startTask(task)">
                    <i style="font-size: 1rem; margin: 5px; color: white;" class="fa fa-play"></i>
                </div>
                <div *ngIf="task?.status === 'progress'"
                    style="background-color: skyblue; width: 30px; height: 30px; cursor: pointer; margin-left: 1rem;"
                    (click)="pauseTask(task)">
                    <i style="font-size: 1rem; margin: 5px; color: white;" class="fa fa-pause"></i>
                </div>
                <div *ngIf="task?.status === 'progress' || task?.status === 'pending'"
                    style="background-color: red; width: 30px; height: 30px;  cursor: pointer;   margin-left: 1rem;"
                    (click)="finishTask(task)">
                    <i style="font-size: 1rem;  margin: 5px; color: white;" class="fa fa-stop"></i>
                </div>
            </div>
        </td>
    </tr>
    <footer style="padding: 1rem 0;">Total worked: {{totalTime * 1000 | date:'H:mm:ss':'UTC'}}</footer>
</table>