.dashboard-actions {
  padding: 0 5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.dashboard-main-task {
  padding: 0 5rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  align-content: center;
}

.dashboard-main-task-actions {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.main-task-pending {
  background-color: blue;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.main-task-pending-and-progress {
  background-color: red;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.main-task-progress {
  background-color: skyblue;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.dashboard-task-table {
  width: 100%;
  padding: 5rem;
}

.dashboard-task-table td {
  text-align: center;
  border-bottom: 1px solid black;
}

.dashboard-task-table th {
  text-align: center;
  background-color: lightblue;
  height: 3rem;
}

.form-group-create {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
}

.dashboard-task-table-action-row {
  display: flex;
  margin: 0.5rem 0;
}

.stop-action {
  background-color: black;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1rem;
}
.remove-action {
  background-color: red;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1rem;
}

.progress-action {
  background-color: skyblue;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1rem;
}

.pending-action {
  background-color: blue;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1rem;
}

i {
  font-size: 1rem;
  margin: 5px;
  color: white;
}