<div class="dashboard-actions">
    <button mat-raised-button color="primary">export</button>
    <button mat-raised-button color="primary" (click)='onCreateForm()'>create</button>
</div>
<div class="dashboard-main-task">
    <h2>{{current?.description}} on {{current?.status}} status</h2>
    <div class="dashboard-main-task-actions">
        <h1>{{current?.time * 1000 | date:'H:mm:ss':'UTC'}}</h1>
        <div class="main-task-pending" *ngIf="current?.status === 'pending'"
            (click)="startCurrent()">
            <i style="font-size: 2rem; margin: 15px; color: white;" class="fa fa-play"></i>
        </div>
        <div class="main-task-pending" *ngIf="current?.status === 'progress'"
            (click)="continueCurrent()">
            <i style="font-size: 2rem; margin: 15px; color: white;" class="fa fa-pause"></i>
        </div>
        <div class="main-task-pending-and-progress" *ngIf="current?.status === 'progress' || current?.status === 'pending'"
            (click)="finishCurrent()">
            <i style="font-size: 2rem;  margin: 15px; color: white;" class="fa fa-stop"></i>
        </div>
    </div>
</div>

<div class="form-group-create">
    <mat-label for="description">
        Description
    </mat-label>
    <input name="description" matInput [formControl]="description" placeholder="description" />

    <mat-label for="status"> status </mat-label>
    <mat-select name="status" style="width: 100px;" [formControl]="status">
        <mat-option *ngFor="let st of ['pending', 'progress', 'done']" [value]="st">
            {{st}}
        </mat-option>
    </mat-select>
    <mat-label> Estimated Time </mat-label>
    <input matInput type="number" [formControl]="estimatedTime" />
    <mat-label>
        Time
    </mat-label>
    <input matInput type="number" [formControl]="time" />
    <button mat-button (click)="onSaveNewTask()">Save</button>
</div>

<table class="dashboard-task-table">
    <tr>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time/Paused</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let task of tasks"
        [ngStyle]="{'background-color': task.status == 'progress' ? 'lightgreen': 'transparent'}">
        <td>{{task.description}}</td>
        <td></td>
        <td></td>
        <td>{{task.status}}</td>
        <td>
            {{task?.time * 1000 | date:'H:mm:ss':'UTC'}}</td>
        <td>
            <div class="dashboard-task-table-action-row">
                <div class="pending-action" *ngIf="task?.status === 'pending'" (click)="startTask(task)">
                    <i class="fa fa-play"></i>
                </div>
                <div *ngIf="task?.status === 'progress'" class="progress-action" (click)="pauseTask(task)">
                    <i class="fa fa-pause"></i>
                </div>
                <div class="stop-action"
                    *ngIf="task?.status === 'progress' || task?.status === 'pending'" (click)="finishTask(task)">
                    <i class="fa fa-stop"></i>
                </div>
                <div class="remove-action"  (click)="removeTask(task)">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
        </td>
    </tr>
    <footer style="padding: 1rem 0;">Total worked: {{totalTime * 1000 | date:'H:mm:ss':'UTC'}}</footer>
</table>